<html ng-app="rxjsSocketAngular" ng-controller="mainController as MainCtrl">

<head>
    <title>rxjs socket angular</title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
    
</head>

<body>
    <div class="main rows">
    	<div class="col-xs-6">
    		<div ng-repeat="p in MainCtrl.panels track by $index">
	    		<panel id="$index"></panel> <button ng-click="MainCtrl.deletePanel($index);">delete</button>
	    	</div>
    	</div>
    	
    	<div class="col-xs-6">
    		<button class="btn" ng-click="MainCtrl.addPanel()">Add Panel</button>
    		<button class='btn' ng-click='MainCtrl.saveZones()'>Save zones</button>	
    	</div>
    </div>
</body>

</html>
